<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - GEMEscolar</title>
</head>
<body>
      <main class="page-content">
        <div class="container-fluid">
            @RenderBody()

          <footer class="text-center">
            <div class="mb-2">
              <small>
                © Criado em 2022 <i class="fa fa-heart" style="color:red"></i> by - <a href="https://www.instagram.com/yuririlder">
                  Yuri Rilder
                </a>
              </small>
            </div>
          </footer>
        </div>
      </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
