

<aside class="main-sidebar elevation-1"> 
    <a href="~/Home" class="brand-link" style="text-align: center">
        <img src="~/css/img/YuriRIlder2.jpg" alt="YURI RILDER MARTINS"
        style="opacity: .8"/>
        <span class="brand-text font-weight-light"></span>
    </a>
    <div class="sidebar">
        <div class="user-painel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block" style="font-size:14px;color:black;font-weight:bold;">"Sistema Desconectado."</a>
            </div>
        </div>
    </div>
    <nav class="mt-2">

    </nav>



</aside>