@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model GEMEscolar.Core.Entities.Professores;

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link href="~/css/LayoutIndex.css" rel="stylesheet"/>
</head>
<section class="vh-50">
    <div class="container-fluid">
        <br />
            <div class="card" style="border-radius: 1rem;">

                <div class="text-center d-flex justify-content-center">
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="h1 fw-bold mb-0">Controle de Professores</span>
                    </div>
                </div>

                @{
                    using (Html.BeginForm("CriarNovoProfessor", "Professores", FormMethod.Post, Model))
                    {
                        <div class="row justify-content-center">
                            <div class="card col-sm-8" style="border-radius: 1rem">
                                <br />
                                <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Criar novo professor</h5>
                                
                                <div class="row">  
                                    <div class="col-md-12">  
                                        <div class="form-group">  
                                            @Html.Raw(@ViewBag.Alert)  
                                        </div>  
                                    </div>  
                                </div>

                                <div class="row justify-content-center">
                                    <div class="h5 mr-3">
                                        <label>Nome</label>
                                        <input type="text" asp-for="Nome" class="form-control form-control-lg" placeholder="Nome" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite o Nome do professor.
                                        </div>
                                    </div>
                                    <div class="h5 mr-3">
                                        <label>CPF</label>
                                        <input type="text" asp-for="CPF" class="form-control form-control-lg" placeholder="CPF" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite o CPF do professor.
                                        </div>
                                    </div>
                                    <div class="h5 mr-3">
                                        <label>RG</label>
                                        <input type="text" asp-for="RG" class="form-control form-control-lg" placeholder="RG" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                             Digite o RG do professor.
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="h5 mr-3">
                                        <label>Telefone</label>
                                        <input type="text" asp-for="Telefone" class="form-control form-control-lg" placeholder="telefone" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite o telefone do professor.
                                        </div>
                                    </div>
                                    <div class="h5 mr-3">
                                        <label>Telefone</label>
                                        <input type="text" asp-for="Telefone2" class="form-control form-control-lg" placeholder="Telefone" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite o telefone do professor.
                                        </div>
                                    </div>
                                    <div class="h5 mr-3">
                                        <label>Chave Pix</label>
                                        <input type="text" asp-for="ChavePix" class="form-control form-control-lg" placeholder="Chave Pix" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                             Digite o PIX do professor.
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="h5 mr-3">
                                        <label>Salario</label>
                                        <input type="text" asp-for="Salario" class="form-control form-control-lg" placeholder="Salario" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite o Salario do professor.
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-content-xl-center">
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-lg btn-block w-25 m-3">Voltar</a>
                                    <input type="submit" value="Criar" class="btn btn-dark btn-lg btn-block w-25 mr-3 m-3" />
                                </div>
                            </div>
                        </div>
                    }
                }

                <br />
            </div>
        </>
    </div>
</section>
